html {
  scroll-behavior: smooth;
}

.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  justify-items: end;
  padding-top: 92px;
  padding-left: 50px;
  padding-bottom: 87px;
  padding-right: 50px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
}

.header__menu {
  display: flex;
  font-size: 18px;
  padding-bottom: 10px;
  text-underline-offset: 4px;
  padding-right: 37px;
}

.header__links-list {
  display: flex;
  gap: 33px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.link-active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: auto;
  height: 114px;
}

.header__logo-image {
  width: 100%;
  padding-right: 5px;
  padding-left: 6px;
}

.header_address {
  padding-right: 33px;
  padding-bottom: 10px;
}

.address {
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0.18px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  list-style-type: none;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  width: 1100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  border-radius: 15px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.7);
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
  border-radius: 15px;
}

.aligned-text {
  display: block;
  color: #ffffff;
  padding-left: 50px;
  padding-top: 165px;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  z-index: 0;
}

.aligned-text_center {
  padding-top: 20px;
  text-align: center;
  padding-right: 20px;
}

.aligned-text_right {
  padding-left: 0px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 106px;
  text-align: right;
}

.cover__description {
  display: flex;
  color: #ffffff;
  justify-content: space-evenly;
  padding-bottom: 50px;
  align-items: center;
}

.cover__description-text {
  padding-right: 54px;
  word-spacing: 18px;
  font-size: 22px;
  line-height: 28px;
  font-style: normal;
  text-transform: uppercase;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid white;
  background-color: transparent;
  color: #fff;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
}

.lots__heading {
  font-size: 40px;
  font-weight: bold;
  padding-top: 180px;
  padding-left: 64px;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 27px;
  padding-right: 23px;
  padding-left: 25px;
  color: #ffffff;
  gap: 25px;
}

.lots__card-list-item {
  display: flex;
  width: 334px;
  min-height: 596px;
  flex-grow: 1;
}

.card-link {
  text-decoration: none;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  z-index: 0;
  width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.7);
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  line-height: 26px;
  font-size: 22px;
  padding-top: 49px;
  padding-left: 40px;
  text-transform: uppercase;
  text-decoration: underline;
  max-width: 94%;
}

.card__text {
  line-height: 24px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  padding-right: 40px;
  padding-bottom: 49px;
  padding-left: 40px;
  text-decoration: none;
}

.lots__look-more-link {
  display: inline-block;
  font-weight: normal;
  font-size: 20px;
  padding-left: 64px;
  color: black;
  padding-top: 29px;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.about {
  display: grid;
  grid-template-columns: 334px repeat(1, 1fr);
}

.about__logo {
  background-color: black;
  margin-top: 155px;
  margin-left: 71px;
  display: flex;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  justify-content: center;
  align-items: center;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.7);
}

.about_logo_white {
  width: 148px;
  height: 114px;
}

.about__title {
  text-transform: uppercase;
  font-size: 40px;
  word-spacing: 0px;
  padding-left: 49px;
  padding-top: 257px;
}

.about__text {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  padding-left: 50px;
  padding-top: 8px;
  font-size: 20px;
  gap: 24px;
  max-width: 750px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding-top: 181px;
  margin-bottom: 81px;
}

.footer_address {
  padding-right: 26px;
}

.footer__links_list {
  padding-left: 3px;
  list-style: none;
  padding-top: 2px;
  line-height: 21px;
}

.footer__link {
  display: inline-block;
  text-align: center;
  width: 150px;
  padding: 1px 0;
  line-height: 1;
  letter-spacing: 0px;
  font-size: 18px;
}

.footer__img {
  display: flex;
  gap: 48px;
  list-style: none;
  padding-left: 30px;
}

.footer-logo {
  width: 48px;
  height: 48px;
}

@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  z-index: -2;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #08050c21;
  overflow: hidden;
}

.background span {
  width: 17vmin;
  height: 17vmin;
  border-radius: 17vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 32;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: #583C87;
  top: 99%;
  left: 63%;
  animation-duration: 36s;
  animation-delay: -160s;
  transform-origin: -20vw 0vh;
  box-shadow: 34vmin 0 4.774917952623509vmin currentColor;
}
.background span:nth-child(1) {
  color: #b48d1c;
  top: 83%;
  left: 13%;
  animation-duration: 143s;
  animation-delay: -169s;
  transform-origin: 13vw -11vh;
  box-shadow: 34vmin 0 4.8967476324079025vmin currentColor;
}
.background span:nth-child(2) {
  color: #594cfd;
  top: 74%;
  left: 8%;
  animation-duration: 154s;
  animation-delay: -168s;
  transform-origin: -15vw -24vh;
  box-shadow: 34vmin 0 5.035326349367765vmin currentColor;
}
.background span:nth-child(3) {
  color: #b48d1c;
  top: 12%;
  left: 100%;
  animation-duration: 96s;
  animation-delay: -142s;
  transform-origin: -1vw -24vh;
  box-shadow: 34vmin 0 4.288960868614902vmin currentColor;
}
.background span:nth-child(4) {
  color: #b48d1c;
  top: 88%;
  left: 35%;
  animation-duration: 36s;
  animation-delay: -89s;
  transform-origin: -22vw -20vh;
  box-shadow: 34vmin 0 4.391974717070308vmin currentColor;
}
.background span:nth-child(5) {
  color: #583C87;
  top: 63%;
  left: 32%;
  animation-duration: 78s;
  animation-delay: -38s;
  transform-origin: 18vw -21vh;
  box-shadow: -34vmin 0 4.970650726599783vmin currentColor;
}
.background span:nth-child(6) {
  color: #594cfd;
  top: 7%;
  left: 99%;
  animation-duration: 181s;
  animation-delay: -142s;
  transform-origin: 19vw 3vh;
  box-shadow: -34vmin 0 5.0381246325038385vmin currentColor;
}
.background span:nth-child(7) {
  color: #594cfd;
  top: 26%;
  left: 66%;
  animation-duration: 153s;
  animation-delay: -97s;
  transform-origin: -6vw -2vh;
  box-shadow: 34vmin 0 4.963436562144684vmin currentColor;
}
.background span:nth-child(8) {
  color: #594cfd;
  top: 35%;
  left: 88%;
  animation-duration: 91s;
  animation-delay: -13s;
  transform-origin: -1vw -7vh;
  box-shadow: -34vmin 0 4.583505330245426vmin currentColor;
}
.background span:nth-child(9) {
  color: #594cfd;
  top: 9%;
  left: 39%;
  animation-duration: 135s;
  animation-delay: -33s;
  transform-origin: -15vw 4vh;
  box-shadow: -34vmin 0 4.860154297494207vmin currentColor;
}
.background span:nth-child(10) {
  color: #583C87;
  top: 50%;
  left: 46%;
  animation-duration: 65s;
  animation-delay: -16s;
  transform-origin: 16vw -19vh;
  box-shadow: -34vmin 0 4.594491070934305vmin currentColor;
}
.background span:nth-child(11) {
  color: #594cfd;
  top: 4%;
  left: 21%;
  animation-duration: 53s;
  animation-delay: -59s;
  transform-origin: 0vw 19vh;
  box-shadow: 34vmin 0 5.219999712611377vmin currentColor;
}
.background span:nth-child(12) {
  color: #583C87;
  top: 13%;
  left: 13%;
  animation-duration: 52s;
  animation-delay: -67s;
  transform-origin: -23vw 7vh;
  box-shadow: -34vmin 0 5.229762599491768vmin currentColor;
}
.background span:nth-child(13) {
  color: #b48d1c;
  top: 63%;
  left: 56%;
  animation-duration: 128s;
  animation-delay: -169s;
  transform-origin: 24vw 21vh;
  box-shadow: 34vmin 0 4.322417458495891vmin currentColor;
}
.background span:nth-child(14) {
  color: #b48d1c;
  top: 45%;
  left: 4%;
  animation-duration: 19s;
  animation-delay: -150s;
  transform-origin: 3vw 22vh;
  box-shadow: 34vmin 0 4.535510088249723vmin currentColor;
}
.background span:nth-child(15) {
  color: #583C87;
  top: 10%;
  left: 6%;
  animation-duration: 183s;
  animation-delay: -175s;
  transform-origin: 8vw -24vh;
  box-shadow: 34vmin 0 5.122953710775328vmin currentColor;
}
.background span:nth-child(16) {
  color: #583C87;
  top: 89%;
  left: 32%;
  animation-duration: 130s;
  animation-delay: -141s;
  transform-origin: -13vw -9vh;
  box-shadow: 34vmin 0 4.614674117272292vmin currentColor;
}
.background span:nth-child(17) {
  color: #594cfd;
  top: 15%;
  left: 56%;
  animation-duration: 7s;
  animation-delay: -169s;
  transform-origin: -1vw 10vh;
  box-shadow: -34vmin 0 5.212718985676657vmin currentColor;
}
.background span:nth-child(18) {
  color: #594cfd;
  top: 46%;
  left: 86%;
  animation-duration: 182s;
  animation-delay: -158s;
  transform-origin: 4vw 25vh;
  box-shadow: 34vmin 0 4.8494204242463805vmin currentColor;
}
.background span:nth-child(19) {
  color: #594cfd;
  top: 58%;
  left: 47%;
  animation-duration: 139s;
  animation-delay: -80s;
  transform-origin: -9vw -16vh;
  box-shadow: 34vmin 0 5.0843896498537475vmin currentColor;
}
.background span:nth-child(20) {
  color: #b48d1c;
  top: 6%;
  left: 89%;
  animation-duration: 93s;
  animation-delay: -25s;
  transform-origin: -6vw 13vh;
  box-shadow: 34vmin 0 4.812963356135066vmin currentColor;
}
.background span:nth-child(21) {
  color: #b48d1c;
  top: 16%;
  left: 41%;
  animation-duration: 68s;
  animation-delay: -52s;
  transform-origin: 10vw 23vh;
  box-shadow: -34vmin 0 4.433664972186337vmin currentColor;
}
.background span:nth-child(22) {
  color: #583C87;
  top: 92%;
  left: 14%;
  animation-duration: 12s;
  animation-delay: -42s;
  transform-origin: -22vw -16vh;
  box-shadow: 34vmin 0 4.584488089522645vmin currentColor;
}

